@use "typography" as v;

.about-section {
    background: #fff;
    padding: 3rem 0 4.5rem;
}

.about-heading {
    line-height: 1.2;
    color: #0f0f0f;
    letter-spacing: -0.02em;
    margin-bottom: 1rem;
    font-weight: 700;
    font-family: v.$font-family-inter !important;
}

.about-lead {
    color: #000000;
    margin-left: auto;
    font-weight: 400;
    margin-right: auto;
    margin-bottom: 2.5rem;
    max-width: 80%;

    @media screen and (max-width: 992px) {
        width: 100%;
    }
}

.about-stats {
    margin-top: 0;
}

.about-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-stat-value {
    display: block;
    font-weight: 900;
    font-size: v.$text-3xl;
    font-weight: 900;
    color: #0f0f0f;
    font-family: v.$font-family-motserrat;
    line-height: 1.2;
    margin-bottom: 0.35rem;
}

.about-stat-label {
    display: block;
    font-weight: 400;
    color: #0F0F0F;
    line-height: 1.4;
}