@use "variables" as v;
@use "typography" as t;

.experience-architect-ai-cta-section {
  background: v.$color-subtle-bg;
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
  background-image: url(../images/all-courses-copy-banner-pattern.svg);
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position: 90% bottom;
}

.experience-architect-ai-cta-copy {
  margin-bottom: 1.5rem;
  color: v.$color-primary-black;
  font-weight: 600;
  font-family: t.$font-family-suisse;
  line-height: 1.2;
}

.experience-architect-ai-cta-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.35rem;
  padding: 0.75rem 2.5rem;
  border-radius: 9999px;
  color: #fff !important;
  background: linear-gradient(270deg, #8f6a0f 0%, #b88912 50%, #c9971a 100%);
  transition:
    opacity 0.2s ease,
    background 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;

  &::after {
    content: "";
    display: inline-block;
    width: 0.8125rem;
    min-width: 0.8125rem;
    height: 0.75rem;
    background-image: url("../images/chevron.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0) invert(1);
    transform: translateY(10%);
    transition: transform 0.25s ease;
  }

  &:hover {
    opacity: 0.95;
    background: linear-gradient(
      270deg,
      v.$color-gold-dark 0%,
      v.$color-gold-dark 50%,
      v.$color-gold-dark 100%
    );
  }

  &:hover::after {
    background-image: url(../images/arrow.svg);
    transform: translateX(4px) translateY(10%);
  }
}

@media (max-width: 991.98px) {
  .experience-architect-ai-cta-section {
    padding: 2.3rem 0 2rem;
  }

}