@use "variables" as v;

.experience-architect-ai-industries-section {
    padding: 5rem 0;
}

.experience-architect-ai-industries-title {
    margin-bottom: 3.75rem;
    color: v.$color-primary-black;
    text-transform: uppercase;
}

.experience-architect-ai-industries-card {
    height: 100%;
    background: v.$color-card-bg;
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.experience-architect-ai-industries-card-icon {
    display: inline-flex;
    color: v.$color-gold;
    margin-bottom: 1rem;
}

.experience-architect-ai-industries-card-title {
    margin-bottom: 0.75rem;
    color: v.$color-off-black;
    font-weight: 600;
}

.experience-architect-ai-industries-card-copy {
    margin-bottom: 0;
    color: v.$color-off-black;
}

@media (max-width: 991.98px) {
    .experience-architect-ai-industries-section {
        padding: 2.4rem 0 2rem;
    }
}
