@font-face {
    font-family: 'Mundial';
    src: url('../fonts/mundial-regular-tty.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mundial';
    src: url('../fonts/mundial-light-tty.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mundial';
    src: url('../fonts/mundial-demibold-tty.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mundial';
    src: url('../fonts/mundial-bold-tty.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mundial';
    src: url('../fonts/mundial-black-tty.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Siusse';
    src: url('../fonts/Suisse_Intl_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
