// Theme colors
$color-neutral-dark: rgba(64, 64, 64, 1);
$color-gold-dark: rgba(143, 106, 15, 1);
$color-gold: rgba(184, 137, 18, 1);
$color-gold-light: rgba(201, 151, 26, 1);

$color-black: rgba(0, 0, 0, 1);
$color-gray-dark: rgba(43, 43, 43, 1);


// Optional semantic aliases
$color-text-primary: $color-neutral-dark;
$color-accent: $color-gold;
$color-accent-hover: $color-gold-light;
